{% block siteTable %}
    <div class="site-table">
        <div class="toolbar">

        </div>
        <div class="table" data-controller="site-table" data-folder-target="test"></div>
    </div>
{% endblock %}