{% block toolbar %}
<div class="toolbar">
    <a href="#" onclick="window.history.back(); return;" class="toolbar__back">
        Späť
    </a>
    <ul class="toolbar__menu">
        <li class="toolbar__item">
            <a href="#" class="toolbar__link">Page 1</a>
        </li>
        <li class="toolbar__item">
            <a href="#" class="toolbar__link">Page 2</a>
        </li>
        <li class="toolbar__item">
            <a href="#" class="toolbar__link">Page 3</a>
        </li>
    </ul>
</div>
{% endblock %}